.container_contact{
    background: var(--color-hr1);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 27rem;
    margin: 7rem auto;
    border-radius: 1rem;
    margin-left: 120px;
    margin-right: 120px;

}

.contact_aside{
    background: var(--color-hr2);
    padding: 3rem;
    margin-bottom: 20px;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}
.contact_image{
    width: 12rem;
    margin-bottom: 2rem;
}
.contact_aside h2{
    text-align: left;
    margin-bottom: 1rem;
}
.contact_aside p{
    font-size: 0.9rem;
    margin-bottom: 2rem;
}
.contact_detail li{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.contact_detail li a:hover{
    text-decoration :underline;
}  
.contact_socials{
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}
.contact_socials a{
    background: var(--color-hr1);
    padding: 0.9rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transition: var(--transition);
}

.contact_socials a:hover{
    background: transparent;
}
.contact_form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}

.form_nom{
    display: flex;
    gap: 1.2rem;
}
.contact_form input [type = "text"]{
    width: 50%;
}
input, textarea{
    width: 100%;
    margin-top: -10px;
    padding: 0.7rem;
    background: var(--color-hr);
    color: var(--color-whitr);
}
.contact_form .btn{
    cursor: pointer;
}
.footer{
    margin-top: -50px;
}

/*****************MEDIA QUERIES(TABLETTE)********************/

@media screen and (max-width : 1024px) {
    .contact{
        padding-bottom: 0;
    }

    .container_contact{
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
    }
    .contact_aside{
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }
    .contact_form{
        align-self: center;
        margin-right: 1.5rem;
    }
}

/*****************MEDIA QUERIES(PHONE)********************/

@media screen and (max-width : 768px) {

    .container_contact{
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }
    
    .contact_form{
        align-self: center;
        margin: 0 1.5rem 3rem;
    }
    .form_nom{
        flex-direction: column;
    }
    .form_nom input{
        width: 100%;
    }
}